<ul>
  <% @files.each do |fname| %>
    <li>
      <a href="<%= fname %>"><%= fname %></a>
      <% if file?(@path, fname) %>
        (<a href="<%= "#{rel_path_to fname}/edit" %>">edit</a>)
        <form action="<%= "#{rel_path_to fname}/delete" %>" method="POST"><input type="submit" value="Delete?"></form>
      <% end %>
    </li>
  <% end %>
</ul>
<a href="new">New document</a>
