<ul>
  <% @files.each do |fname| %>
    <li>
      <a href="<%= fname %>"><%= fname %></a>
      <% if file?(@path, fname) %>
        (<a href="<%= "#{fname}/edit" %>">edit</a>)
      <% end %>
    </li>
  <% end %>
</ul>
