<!DOCTYPE html>
<html>
  <head>
    <title>File CMS</title>
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <header>
      <% if flash? %>
      <section id="flash">
        <% if session[:error] %>
        <div class="error">
          <p><%= session.delete :error %></p>
        </div>
        <% end %>
        <% if session[:success] %>
        <div class="success">
          <p><%= session.delete :success %></p>
        </div>
        <% end %>
      </section>
      <% end %>
    </header>
    <%== yield %>
  </body>
</html>
