<!DOCTYPE html>
<html>
  <head>
    <title>File CMS</title>
    <link href="/stylesheets/main.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <header>
      <% if flash? %>
      <section id="flash">
        <% if session[:error] %>
        <div class="error">
          <p><%= session.delete :error %></p>
        </div>
        <% end %>
        <% if session[:success] %>
        <div class="success">
          <p><%= session.delete :success %></p>
        </div>
        <% end %>
      </section>
      <% end %>
    </header>
    <%== yield %>
    <hr />
    <footer>
      <% if signed_in? %>
        Signed in as <%= user %>
        <form action="/users/signout" method="POST">
          <input type="submit" value="Sign out">
        </form>
      <% else %>
        Currently not signed in.
        <form action="/users/signin" method="GET">
          <input type="submit" value="Sign in">
        </form>
      <% end %>
    </footer>
  </body>
</html>
